@{
    ViewBag.Title = "Links";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
 <!--<![endif]-->
<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Links</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            @*<h2>Many Thanks To</h2>*@
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><a href="https://www.facebook.com/InosantoAcademyOfMartialArts?fref=pb&hc_location=profile_browser">Inosanto Academy of Martial Arts</a> - Led by renowned martial artist, Guro Dan Inosanto</li>
                        <li><a href="https://www.facebook.com/pages/Survival-Tactics/125231884201558">Survival Tactics</a> - Electronic communications, Marksmanship, Survival gear</li>
                        
                        <li><a href="https://www.facebook.com/DaytonMartialArts">Asian Arts Center Taekwondo School</a> - Dayton Martial Arts</li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>
