@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html class="no-js">
<head>
    <title>
        Events
    </title>
</head>
<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Events</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row service-wrapper-row">
                <div class="col-sm-12">
                    <a href="https://www.facebook.com/events/1515026422093642/?notif_t=plan_user_invited">Holiday Seminar</a>
                    <p>
                        Sunday December 13th 2014
                    </p>
                    <p>
                        3PM to 5PM
                    </p>
                    <p>
                        Cost: $20 for non-students / free to A.M.M.A. students
                    </p>
                    <p>
                        Sensitivity Drills of Filipino Kali & Indonesian Silat.                        
                    </p>
                    <p>
                        <ul>
                            <li>
                                *Enhance your Reflexes
                            </li>
                            <li>
                                *Shorten the Response Time
                            </li>
                            <li>
                                *Problem Solving inside the reactionary gap ...with and without the weapon
                            </li>
                            <li>
                                *Simple motor skills to Complex motor skills
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
