@{
    ViewBag.Title = "Events";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html class="no-js">
<head>
    <title>
        Events
    </title>
</head>
<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Events</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row service-wrapper-row">
                <div class="col-sm-12">
                    <a href="https://www.facebook.com/events/337380656412396/?source=1">Sayoc Kali Training Camp Taught By Guro Matt Campbell</a>
                    <p>
                        Sunday September 7th 2014
                    </p>
                    <p>
                        11AM to 5PM
                    </p>
                    <p>
                        Cost: 1 day $100
                    </p>
                    <p>
                        For more information contact (937) 395-0333
                    </p>
                </div>
            </div>
        </div>
    </div>


</body>
</html>
