@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
<head>
    <title>
        About
    </title>
    <style>
        .row ul{
            margin-left: 36px;
        }
    </style>
</head>
<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>Academy of Majapahit Martial Arts </h2>

            <div class="row">
                <div class="col-md-6">
                    <h4 style="display:inline">A.M.M.A. specializes in the martial methodologies of Southeast Asia</h4>
                    <br />
                    <br />
                    <ul>
                        <li><h4 style="display:inline">Indonesia:</h4>  Pentjak Silat</li>
                    </ul>
                    <br />
                    <ul>
                        <li><h4 style="display:inline">Malaysia:</h4>  Bersilat</li>
                    </ul>

                    <br />
                    <ul>
                        <li><h4 style="display:inline">Thailand:</h4>  Muay Thai</li>
                    </ul>

                    <br />
                    <ul>
                        <li><h4 style="display:inline">Philippines:</h4>  Kali / Eskrima / Kuntao / Silat</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/img/MAJ_majapahit_empire_map.jpg" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p>The school name ‘Academy of Majapahit Martial Arts’ pays respect to the ancient warrior arts of Southeast Asia that where unified by the <a href="http://en.wikipedia.org/wiki/Majapahit">Majapahit Empire (1293-1500)</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        These diverse yet complementary combative arts provide the student with an excellent balance between being a hand and foot technician, the ability to fight at all ranges, and intimate weapon knowledge. Techniques are taught in a fluid, non-restrictive manner allowing students to enhance their natural attributes and improve their sense of timing, speed, awareness, balance, agility, coordination, strength and confidence.
                    </p>
                    <p>
                        Train and push your limits or simply enjoy a class for recreational purposes. Either way, you will have the best time while practicing a serious martial art!
                    </p>
                    <p>
                        Your First class is free
                    </p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
