@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->
<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>A.M.M.A specializes in the martial methodologies of Southeast Asia.</h2>
            <div class="row">
                <div class="col-md-6">
                    <ul>
                        <li><h4 style="display:inline">Indonesia:</h4>  Pentjak Silat</li>
                        <br />
                        <li><h4 style="display:inline">Malaysia:</h4>  Bersilat</li>
                        <br />
                        <li><h4 style="display:inline">Thailand:</h4>  Muay Thai</li>
                        <br />
                        <li><h4 style="display:inline">Philippines:</h4>  Kali / Eskrima / Kuntao / Silat</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/img/MAJ_majapahit_empire_map.jpg" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p>The <a href="http://en.wikipedia.org/wiki/Majapahit">Majapahit Empire (1293-1500)</a> was the most influential empire in Southeast Asian history. It was the ’Golden Age’ of Southeast Asia. The school name ‘Academy of Majapahit Martial Arts’ pays respect to the ancient warrior arts of Southeast Asia that where unified under a single empire.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>These diverse yet complementary combative arts provide the student with an excellent balance between being a hand and foot technician, the ability to fight at all ranges, and intimate weapon knowledge. Techniques are taught in a fluid, non-restrictive manner allowing students to enhance their natural attributes and improve their sense of timing, speed, awareness, balance, agility, coordination, strength and confidence.</p>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
