@{
    ViewBag.Title = "About Academy of Majapahit Martial Arts";
    ViewBag.Keywords = "Jeremiah Lovejoy, Dayton, Ohio, Kali, Eskrima, Kuntao, Silat, Martial Arts, Mande Muda, Serak, Choy Li Fut, Lameco, Bando, Muay Thai";
    ViewBag.Descritpion = "Academy of Majapahit Martial Arts specializes in teaching the martial methodologies of Southeast Asia to the Dayton Ohio region";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">

<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>About</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h2>Academy of Majapahit Martial Arts </h2>

            <div class="row">
                <div class="col-md-6">
                    <h4 style="display:inline">A.M.M.A. specializes in the martial methodologies of Southeast Asia</h4>
                    <br />
                    <br />
                    <ul>
                        <li><h4 style="display:inline">Indonesia:</h4>  Pentjak Silat</li>
                    </ul>
                    <br />
                    <ul>
                        <li><h4 style="display:inline">Malaysia:</h4>  Bersilat</li>
                    </ul>

                    <br />
                    <ul>
                        <li><h4 style="display:inline">Thailand:</h4>  Muay Thai</li>
                    </ul>

                    <br />
                    <ul>
                        <li><h4 style="display:inline">Philippines:</h4>  Kali / Eskrima / Kuntao / Silat</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <img src="~/Content/img/MAJ_majapahit_empire_map.jpg" />
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-md-12">
                    <p>The school name ‘Academy of Majapahit Martial Arts’ pays respect to the ancient warrior arts of Southeast Asia that where unified by the <a href="http://en.wikipedia.org/wiki/Majapahit">Majapahit Empire (1293-1500)</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        These diverse yet complementary combative arts provide the student with an excellent balance between being a hand and foot technician, the ability to fight at all ranges, and intimate weapon knowledge. Techniques are taught in a fluid, non-restrictive manner allowing students to enhance their natural attributes and improve their sense of timing, speed, awareness, balance, agility, coordination, strength and confidence.
                    </p>
                    <p>
                        Train and push your limits or simply enjoy a class for recreational purposes. Either way, you will have the best time while practicing a serious martial art!
                    </p>
                    <p>
                        Your First class is free
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- Submit Questions -->

    @*<div class="section">
        <div class="container">
            <h2>Ask A Guru</h2>
        </div>
    </div>*@

    <!-- Testimonials -->
    @*<div class="section">
            <div class="container">
                <h2>Testimonials</h2>
                <div class="row">
                    <!-- Testimonial -->
                    <div class="testimonial col-md-4 col-sm-6">
                        <!-- Author Photo -->
                        <div class="author-photo">
                            <img src="~/content/img/rat2.jpg" alt="author 1" />
                        </div>
                        <div class="testimonial-bubble">
                            <blockquote>
                                <!-- Quote -->
                                <p class="quote">
                                    "Guru Lovejoy is the training partner you wished you always had, and the teacher you wish you could be."
                                    <br /> <br />
                                    "I have never meet or trained with such a knowledgeable and generous spirit in the martial arts.
                                    <br /> <br />
                                    "Guru Lovejoy for those intimate moments, Like choke-outs, and knockouts."
                                </p>
                                <!-- Author Info -->
                                <cite class="author-info">
                                    - Mark Guinn,<br>Director <a href="http://www.latech.edu/performingarts/">School of the Performing Arts at Louisiana Tech University</a>
                                </cite>
                            </blockquote>
                            <div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
                    <!-- End Testimonial -->
                    <div class="testimonial col-md-4 col-sm-6">
                        <div class="author-photo">
                            <img src="~/Content/img/user5.jpg" alt="Author 2">
                        </div>
                        <div class="testimonial-bubble">
                            <blockquote>
                                <p class="quote">
                                    "Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo."
                                </p>
                                <cite class="author-info">
                                    - Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                                </cite>
                            </blockquote>
                            <div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
                    <div class="testimonial col-md-4 col-sm-6">
                        <div class="author-photo">
                            <img src="~/Content/img/user2.jpg" alt="Author 3">
                        </div>
                        <div class="testimonial-bubble">
                            <blockquote>
                                <p class="quote">
                                    "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."
                                </p>
                                <cite class="author-info">
                                    - Name Surname,<br>Managing Director at <a href="#">Some Company</a>
                                </cite>
                            </blockquote>
                            <div class="sprite arrow-speech-bubble"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
    <!-- End Testimonials -->

</body>
</html>
