@{
    ViewBag.Title = "Instructors";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html class="no-js">
<!--<![endif]-->
<body>
    <!-- Page Title -->
    <div class="section section-breadcrumbs">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Instructors</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <h3>
                Guru Jeremiah Lovejoy
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li><h4>Founder / head instructor of A.M.M.A.</h4></li>
                        <li><h4>32 years in the martial arts </h4></li>

                        <li><h4>22 years in-depth study in Kali and Silat</h4></li>

                        <li>
                            <h4>
                                Instructor ranking under Guro Dan Inosanto
                            </h4>
                            Filipino Martial Arts –Kali / Eskrima / Kuntaw / Silat
                            <br />
                            Lee Jun Fan Gung Fu / Jeet Kune Do Concepts

                        </li>
                        <li>
                            <h4>
                                Instructor ranking in
                            </h4>
                            Sikal / Asian Fighting Arts -Guru Ken Pannell –Full Instructor 2004
                            <br />
                            Cacoy Doce Pares -GM Ciriaco “Cacoy” Canete –Black Belt 2001
                        </li>
                        <li>
                            <h4>
                                Significantly Influenced by
                            </h4>
                            Sifu Janet Gee –Choy Li Fut / Indonesian martial arts
                            <br />
                            Willem “Uncle Bill” de Thouars –Kuntao Silat
                            <br />
                            Maha Guru Victor de Thouars –Pentjak Silat Serak
                            <br />
                            Ibu Rita Suwanda –Mande Muda Pencak Silat
                            <br />
                            Guru Steve Hacht –Sikal / Sayoc Kali
                            <br />
                            Guru Mike Casto –Anjing Gembala Pencak Silat
                            <br />
                            Guro Jose Connors –Lameco / Mande Muda Pencak Silat / Bando / Muay Thai

                        </li>
                        <li>
                            <h5>
                                Other Certifications
                            </h5>
                            Exercise Science - Bachelors Degree
                            <br />
                            Certified Strength & Conditioning Specialist
                            <br />
                            Reiki Master
                            <br />
                            Oneness Deeksha
                        </li>

                    </ul>
                </div>
            </div>
            <br/>
            <h2></h2>
            <h3>
                Guru Kryss Northrup
            </h3>            
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <h4>
                                10 years of Kali / Silat
                            </h4>
                        </li>

                        <li>
                            <h4>
                                Master Degree in Theatre / Stage Combat –Louisiana Tech
                            </h4>
                        </li>
                    </ul>
                </div>
            </div>
            <br/>
            <h2></h2>
            <h3>
                Ashland Johnson
            </h3>
            <div class="row">
                <div class="col-md-12">
                    <ul>
                        <li>
                            <h4>
                                Sayoc Ohio's Training Group Leader
                            </h4>
                        </li>                        
                    </ul>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
